/*ICONS*/

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot');
  src: url('/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-phonelink:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e903";
}
.icon-timeline:before {
  content: "\e904";
}
.icon-profiles:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-globe:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
}
.icon-image:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-link:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-x:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-zoom-in:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e95d";
}
.icon-twitter:before {
  content: "\e9e8";
}


/*Gral CSS*/

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  letter-spacing: .05em;
  height: 100%;
  color: #000000;
}

body, html {
  font-size: 15px;
}
h1,
h2,
h3 {
  font-weight: 700;
}

.container {
  max-width: 82em;
}


@media screen and (max-width: 60em) {
  .dn-ms {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  outline: 2px solid white;
}


/* Colors */

.blue-gl {
  color: #0000a7;
}

.bg-blue-gl {
  background-color: #0000a7;
}

.green-gl,
.hover-green-gl:hover,
.hover-green-gl:focus {
  color: #00c8b9;
}

.bg-green-gl {
  background-color: #00c8b9;
}