/*Gral CSS*/

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  letter-spacing: .05em;
  height: 100%;
  color: #333333;
}

body, html {
  font-size: 15px;
}
h1,
h2,
h3 {
  font-weight: 700;
}

.container {
  max-width: 82em;
}


@media screen and (max-width: 60em) {
  .dn-ms {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  outline: 2px solid white;
}


/* Colors */

.blue-gl {
  color: #0000a7;
}

.bg-blue-gl {
  background-color: #0000a7;
}

.green-gl,
.hover-green-gl:hover,
.hover-green-gl:focus {
  color: #00c8b9;
}

.bg-green-gl {
  background-color: #00c8b9;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #0000a7;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #000068;
}